<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Artifactory" value="https://artifactory.danskenet.net/artifactory/api/nuget/v3/remote-nuget-nuget.org" protocolVersion="3" />
    <add key="ArtifactoryLocal" value="https://artifactory.danskenet.net/artifactory/api/nuget/v3/joined-nuget-local" protocolVersion="3" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>